@charset "UTF-8";
/* #ccce; */
/*
Exact target-image overlay
left, top, width, height will be set inline
*/
deltaeoverlay {
  box-shadow: inset 0 0 0 4px #a5f;
}

/*
Chart projection
left, top, width, height will be set inline
*/
deltaechart {
  box-shadow: inset 0 0 0 4px #69f;
}

/*
Patch projection
left, top, width, height will be set inline
*/
deltaepatch {
  box-shadow: inset 0 0 0 4px #0cc;
}

deltaeoverlay,
deltaechart,
deltaepatch {
  position: absolute;
  border-radius: 6px;
}
deltaeoverlay.valid,
deltaechart.valid,
deltaepatch.valid {
  box-shadow: inset 0 0 0 4px #0b0;
}
deltaeoverlay.invalid,
deltaechart.invalid,
deltaepatch.invalid {
  box-shadow: inset 0 0 0 4px #c00;
}

/*
Mousetrailing display for
left, top, right, bottom will be set inline
*/
.picturae-deltaemap-display {
  font: caption;
  position: fixed;
  background: rgba(204, 204, 204, 0.93);
  border-radius: 0 0 0.5em 0.5em;
  color: black;
  padding: 0.5em;
  max-width: 42vw;
}
.picturae-deltaemap-display caption {
  background: rgba(204, 204, 204, 0.93);
  border-radius: 0.5em 0.5em 0 0;
  padding: 0.5em;
  font-size: 16px;
  font-weight: bold;
}
.picturae-deltaemap-display caption:after {
  content: "";
  display: block;
  position: relative;
  top: 0.5em;
}
.picturae-deltaemap-display.valid caption:after {
  border-bottom: 4px solid #0b0;
}
.picturae-deltaemap-display.invalid caption:after {
  border-bottom: 4px solid #c00;
}
.picturae-deltaemap-display tbody:before {
  content: attr(data-name);
  display: block;
  font: small-caption;
}
.picturae-deltaemap-display th,
.picturae-deltaemap-display td {
  vertical-align: top;
}

/* voorbeeld tabel
tabel: 391.50 px * 631.46 px = 241.344,09  px2
flex3: 410.25 px * 616.46 px = 252.902,715 px2
flex4: 546.50 px * 533.96 px = 291.809,14  px2
*/
.picturae-deltaemap-display {
  font-size: 14px;
}
.picturae-deltaemap-display tbody {
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  min-width: 16.998em;
  max-width: 39.662em;
}
.picturae-deltaemap-display tbody:before {
  position: absolute;
  font-size: inherit;
  margin-top: -1.333em;
  width: 100%;
}
.picturae-deltaemap-display tr {
  margin: 0 0.333em 0 0;
  width: 5.333em;
}
.picturae-deltaemap-display tr.lab,
.picturae-deltaemap-display tr.color-profile,
.picturae-deltaemap-display tr.has-invalid-patch {
  width: 10.999em;
}
.picturae-deltaemap-display tr.color-accuracy,
.picturae-deltaemap-display tr.spatial-accuracy,
.picturae-deltaemap-display tr.message {
  width: 16.665em;
}
.picturae-deltaemap-display tr > * {
  display: block;
}
.picturae-deltaemap-display tr.rgb,
.picturae-deltaemap-display tr.valid {
  display: none;
}
.picturae-deltaemap-display.valid .deltaemap-validity {
  display: none;
}
.picturae-deltaemap-display.deltaemap-chart .deltaemap-observed {
  display: none;
}

/*
Inline color display
background will be set inline
*/
deltaecolor {
  display: inline-block;
  box-shadow: 2px 2px 1px 0 #3339;
  width: 1.2em;
  height: 1.2em;
  vertical-align: bottom;
}

/*
Inline boolean display
color set according to boolean state
*/
deltaeboolean {
  display: inline-block;
  font-weight: bold;
}
deltaeboolean.valid:before {
  content: "✓";
  color: #080;
}
deltaeboolean.invalid:before {
  content: "✗";
  color: #b00;
}