
html,
body,
#openseadragon {
    width: 100%;
    height: 100%;
    margin: 0;
}

body.demo targetmap {
    background: url('./demo.jpg');
    background-size: cover;
}

body.red targetmap {
    background: red;
}

.openseadragon-canvas + div > div {
    opacity: 1 !important;
}

input[type="file"] {
    position: absolute;
    left: 5px; top: 40px;
}

input[type="file"]:after {
    content: 'choose validation json';
    display: block;
    padding: 0 2px;
}
