$tblSpace: 0.5em;
$tblBkgr: rgba(204, 204, 204, 0.93); /* #ccce; */
$tblText: black;
$boxBow: 6px;
$boxBlur: 0;
$boxLine: 4px;
$cyan: #0cc;
$blue: #69f;
$violet: #a5f;
$red: #c00;
$green: #0b0;
$textRed: #b00;
$textGreen: #080;

/*
Exact target-image overlay
left, top, width, height will be set inline
*/
deltaeoverlay {
    box-shadow: inset 0 0 $boxBlur $boxLine $violet;
}

/*
Chart projection
left, top, width, height will be set inline
*/
deltaechart {
    box-shadow: inset 0 0 $boxBlur $boxLine $blue;
}

/*
Patch projection
left, top, width, height will be set inline
*/
deltaepatch {
    box-shadow: inset 0 0 $boxBlur $boxLine $cyan;
}

deltaeoverlay,
deltaechart,
deltaepatch {
    position: absolute;
    border-radius: $boxBow;
    &.valid {
        box-shadow: inset 0 0 $boxBlur $boxLine $green;
    }
    &.invalid {
        box-shadow: inset 0 0 $boxBlur $boxLine $red;
    }
}

/*
Mousetrailing display for
left, top, right, bottom will be set inline
*/
.picturae-deltaemap-display {
    font: caption;
    position: fixed;
    background: $tblBkgr;
    border-radius: 0 0 $tblSpace $tblSpace;
    color: $tblText;
    padding: $tblSpace;
    max-width: 48vw; // safe 50% - 16px when 100% is 800px

    caption {
        background: $tblBkgr;
        border-radius: $tblSpace $tblSpace 0 0;
        padding: $tblSpace;
        font-size: 16px;
        font-weight: bold;
        &:after {
            content: '';
            display: block;
            position: relative;
            top: $tblSpace;
        }
    }
    &.valid caption:after {
        border-bottom: $boxLine solid $green;
    }
    &.invalid caption:after {
        border-bottom: $boxLine solid $red;
    }

    tbody:before {
        content: attr(data-name);
        display: block;
        font: small-caption;
    }

    th,
    td {
        vertical-align: top;
    }
}

/*
Inline color display
background will be set inline
*/
deltaecolor {
    display: inline-block;
    box-shadow: 2px 2px 1px 0 #3339;
    width: 1.2em;
    height: 1.2em;
    vertical-align: bottom;
}

/*
Inline boolean display
color set according to boolean state
*/
deltaeboolean {
    display: inline-block;
    font-weight: bold;
    &.valid:before {
        content: '\2713';
        color: $textGreen;
    }
    &.invalid:before {
        content: '\2717';
        color: $textRed;
    }
}
